<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Monocle Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>

    <body style="padding: 25px 0px">
        <div class="container">
            <div class="row">
                <div class="span9">
                    {% block content %}{% endblock content %}
                </div>
                <div class="span3">
                    <div class="well" style="padding: 5px">
                        {% block rail %}{% endblock rail %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
